{% extends "base.html" %}

{% block content %}
<table class="table table-bordered table-striped table-hover">
    <thead class="table-success">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Course</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student["ID"] }}</td>
            <td>{{ student["Name"] }}</td>
            <td>{{ student["Course"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
