{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}

<h2>Contact Us</h2>
<p>If you have questions or need assistance, feel free to contact us.</p>

<hr>

<h3>📍 Our Location</h3>
<p><h2>Agusan Pequeño, Butuan City, Philippines</h2></p>

<h3>📞 Phone Number</h3>
<p><h2>+63 938 894 4690</h2></p>

<h3>📧 Email Address</h3>
<p><h2>acierda1995@gmail.com</h2></p>

<hr>

<h3>Send Us a Message</h3>

<form method="POST" action="#">
    <label>Full Name:</label><br>
    <input type="text" name="fullname" required><br><br>

    <label>Email:</label><br>
    <input type="email" name="email" required><br><br>

    <label>Message:</label><br>
    <textarea name="message" rows="5" required></textarea><br><br>

    <button type="submit">Send Message</button>
</form>

{% endblock %}